:host ::ng-deep {
	.monthview-current {
		background-color: #76c0e8 !important;
		color: #000 !important; 
	}

	.monthview-selected {
		background-color: #ff9a57 !important;
		color: #000 !important; 
	} 
}

ion-segment {
	background: var(--ion-color-view);
}
