<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="welcome"><h5>Welcome, Wes!</h5></ion-row><br><br>
    <ion-row>
      <ion-col size="6">
        <img src="assets/images/inbox.png" routerLink="/messages" routerDirection="root" />
        <p class="icon_title">Messages</p>
      </ion-col>
      <ion-col size="6">
        <img src="assets/images/calendar.png" routerLink="/calendar" routerDirection="root"/>
        <p class="icon_title">Calendar</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <img src="assets/images/employees.png" routerLink="/employees" routerDirection="root"/>
        <p class="icon_title">Employees</p>
      </ion-col>
      <ion-col size="6">
        <img src="assets/images/customers.png" routerLink="/customers" routerDirection="root"/>
        <p class="icon_title">Customers</p>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
