.actions {
	text-align: center;
}

ion-icon {
	font-size: 23px;
	padding-left: 3px;
	padding-right: 3px;
}

#add_customer {
	float: right;
}

.label {
  font-size: 90%;
  font-weight: bold;
}

.value {
  font-size: 90%;
  white-space: normal;
}