<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
	    <ion-button (click)="close()">
	      <ion-icon name="close" slot="icon-only"></ion-icon>
	    </ion-button>
  	</ion-buttons>
    <ion-title>Edit Employee</ion-title>
    <ion-buttons slot="end">
	    <ion-button (click)="save()">
	      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
	    </ion-button>
  	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item lines="full">
            <ion-label position="stacked">First Name</ion-label>
            <ion-input [(ngModel)]="employee.first_name" name="first_name" type="text"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input [(ngModel)]="employee.last_name" name="last_name" type="text"></ion-input>
          </ion-item>
          
          <ion-item lines="full">
            <ion-label position="stacked">Username</ion-label>
            <ion-input [(ngModel)]="employee.username" name="address" type="text"></ion-input>
          </ion-item>          

          <ion-item lines="full">
            <ion-label position="stacked">Password</ion-label>
            <ion-input [(ngModel)]="employee.password" name="city" type="password"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Phone</ion-label>
            <ion-input [(ngModel)]="employee.phone" name="phone" type="tel"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Title</ion-label>
            <ion-select [(ngModel)]="employee.title" name="title"></ion-select>
          </ion-item>          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
