<ion-header>
  <ion-toolbar>
    <ion-title>View Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-row *ngFor="let message of messages" class="message">
	<ion-col size="9" *ngIf="phoneNumber !== message.from_phone" class="incoming_message">
		<b>{{message.from_phone}}</b><br>
		<span>{{message.message}}</span>
		<div class="time"><br>
			{{message.date}}
		</div>
	</ion-col>

	<ion-col size="9" offset="3" *ngIf="phoneNumber === message.from_phone" class="outgoing_message">
		<b>{{message.from_phone}}</b><br>
		<span>{{message.message}}</span>
		<div class="time"><br>
			{{message.date}}
		</div>
	</ion-col>
</ion-row>

</ion-content>

<ion-footer>
	<ion-toolbar color="dark">
		<ion-row>
			<ion-col size="10">
				<textarea autosize class="new_message" placeholder="Type Reply" [(ngModel)] = "sendMessage"></textarea>
			</ion-col>
			<ion-col size="2">
				<ion-button class="send_button" expand="block" fill="clear" [disabled]="sendMessage ===''" (click)="sendMessage()"><ion-icon name="send-outline"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>
