:host ::ng-deep {
  .monthview-container {
      height: auto !important;
  }

  .event-detail-container {
      display: none;
  }
  ion-select{
    --placeholder-color: #000;
    --placeholder-opacity: 1;
	}
}